<div class="column is-half">
  <% @followings.each do |following| %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(following.following_user.email, size: 64, alt: following.following_user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong><%= following.following_user&.name || "deleted user"%></strong><br />
            <small>@<%= following.following_user ? following.following_user.username : "Dzēsts lietotājs"  %></small><br/>
          </div>
        </div>
        <div class="media-right">


            <p class="control">
              <%= link_to 'Unfollow', new_user_session_path, class: "button is-danger is-rounded is-outlined" %>
            </p>

        <% #    <p class="control"> %>
        <% #      <%= link_to 'Follow', new_user_session_path, class: "button is-info is-rounded" %>
        <% #    </p> %>

        </div>
      </article>
    </div>
  <% end %>
</div>
