<div class="section">
  <div class="container">
  <div class="columns is-centered">

    <div class="column is-4">
      <div class="box">
    <h2 class="title is-2">Reģistrēties</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="field">
      <div class="control">
      <%= f.input :name, label: "Vārds", required: true, autofocus: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
      </div>
    </div>

    <div class="field">
      <div class="control">
      <%= f.input :username, label: "Lietotājvārds", required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }%>
      </div>
      <p> Lielākais simbolu skaits 20 </p>
    </div>

    <div class="field">
      <div class="control">
      <%= f.input :email, label: "Ē-pasts", required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
      </div>
    </div>


    <div class="field">
      <div class="control">
        <%= f.input :password, label: "Parole", required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
      </div>
      <p> Lielākais simbolu skaits 20 </p>
    </div>

    <div class="field">
      <div class="control">
         <%= f.button :submit, "Reģistrēties", class:"button is-dark is-medium" %>
       </div>
    </div>

    <% end %>
      <br />
      <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
  </div>
</div>
